<div class="page-draw">
    <header>
        <div class="wrap">
            Un p'tit dessin ?!
        </div>
    </header>
    <div class="container-draw">
        <div id="draw"></div>
    </div>
</div>
<div class="page-player hidden">
    <table class="player-playlist"></table>
</div>
<script type="text/javascript" src="<%= basepath %>dist/js/draw.js"></script>