
<div class="draw-container">
    <i>Dessinez votre dessin, et la musique s'accordera à votre humeur !</i>
    <div id="draw"></div>
</div>

<div class="player-container" style="display: none">
    <i>Chargement en cours....</i>
</div>

<script type="text/javascript" src="<%= basepath %>dist/js/draw.js"></script>
