/.settings
.project
.buildpath
*.sublime-workspace
*.sublime-project

#*
*$
*.BAK
*.bak
*.log
*.old
*~
.#*
.DS_Store
,*
*.lock
*.swp
*.out

/dist
/lib
/public/dist
/public/images
vendor
node_modules
bower_components

/src/config/local.yml
